.col-6 {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.row {
  display: flex;
  justify-content: space-between;
}

.square {
  height: 0;
}

.square-15 {
  width: 6.666667%;
  padding-bottom: 6.666667;
}

.square-4 {
  width: 25%;
  padding-bottom: 25%;
}

.square-3 {
  width: 33.333333%;
  padding-bottom: 33.333333%;
}

.square-2 {
  width: 50%;
  padding-bottom: 50%;
}

.square-1 {
  width: 100%;
  padding-bottom: 100%;
}

.square {
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
}

.grid {
  display: block;
  padding: 200px;
  margin: 5px;
  text-align: left;
  font-size: 0;
}

.grid-cell {
  display: inline-block;
  margin: 0;
  padding: 2px;
  text-align: left;
  vertical-align: top;
  width: 100%;
  font-size: 16px;
}

.grid-15 {
  width: 6.666667%;
}

.grid-4 {
  width: 25%;
}

.grid-3 {
  width: 33.333333%;
}

.grid-2 {
  width: 50%;
}

body {
  background: #353B6E;
  margin: 200px;
  font-size: 0;
}

.square {
  overflow: hidden;
  border-radius: 0px;
  background: #fff;
}

.title h2 {
  font-size: 12px;
  font-weight: 700;
  color: #000;
  text-shadow: 0 1px rgba(0, 0, 0, 0.6);
  background: linear-gradient(rgba(37, 34, 67, 0), rgba(37, 34, 67, 0.8));
  margin: 0;
  padding: 36px 12px 12px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}